@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Istok+Web&display=swap');
 $base-font:'RocknRoll One', sans-serif;
 $second-font:'Istok Web', sans-serif;
 
 $color-red: #df2020 ;
 $color-light-red : #fde4e4 ; 
 $color-green: green;
 $color-black: #000000;
 $color-white: #FFFFFF;
 $color-grey: #777;
 $color-dark-grey: #333;

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 body {
    background: $color-white;
    font-family: $second-font;
  }

  section {
    padding: 60px 0px;
  }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "RocknRoll One", sans-serif;
}
a {
  text-decoration: none;
  color: unset;
}