@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Istok+Web&display=swap');
 $base-font:'RocknRoll One', sans-serif;
 $second-font:'Istok Web', sans-serif;
 
 $color-red: #df2020 ;
 $color-green: green;
 $color-black: #212245;
 $color-white: #FFFFFF;
 $color-grey: #777;
 $color-dark-grey: #333;
