@import "../settings/variables";

.food__delivery-title span {
    color: $color-red;
  }
  
  .food__delivery-desc {
    color: $color-grey;
    line-height: 28px;
  }
  
  .choose__us-title {
    font-weight: 600;
    margin-bottom: 10px;
    & i {
        font-weight: 500 !important;
        color: $color-red;
      }
  }

  
  .choose__us-desc {
    color: $color-grey;
  }

  @media only screen and (max-width: 768px) {
  .product__item{
    padding-bottom: 20px;
  }
}
  @media only screen and (max-width: 759px) {
  .why__food-dilvery{
    text-align: center;
    p{
      text-align: center;
    }
  }
}