@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Istok+Web&display=swap");
@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Istok+Web&display=swap");
@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Istok+Web&display=swap");
@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Istok+Web&display=swap");
@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Istok+Web&display=swap");
@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Istok+Web&display=swap");
@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Istok+Web&display=swap");
@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Istok+Web&display=swap");
@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Istok+Web&display=swap");
@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Istok+Web&display=swap");
@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Istok+Web&display=swap");
@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Istok+Web&display=swap");
@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Istok+Web&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

:focus {
  outline: 0;
}

body {
  line-height: 1;
  color: black;
  background: white;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

blockquote,
q {
  quotes: "" "";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #FFFFFF;
  font-family: "Istok Web", sans-serif;
}

section {
  padding: 60px 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "RocknRoll One", sans-serif;
}

a {
  text-decoration: none;
  color: unset;
}

@media only screen and (max-width: 401px) {
  html {
    width: 103%;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #FFFFFF;
  font-family: "Istok Web", sans-serif;
}

section {
  padding: 60px 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "RocknRoll One", sans-serif;
}

a {
  text-decoration: none;
  color: unset;
}

@media only screen and (max-width: 401px) {
  html {
    width: 103%;
  }
}
.header {
  width: 100%;
  height: 130px;
  line-height: 80px;
  position: -webkit-sticky;
  position: sticky;
  background-color: #FFFFFF;
  top: 0px;
}
.header .logo {
  margin-top: 10px;
  text-align: center;
}
.header .logo img {
  margin-bottom: 5px;
  width: 70%;
  -o-object-fit: contain;
     object-fit: contain;
}
.header .logo h4 {
  font-weight: 600;
  font-size: 1rem;
  color: #000000;
  margin-bottom: 0;
}
.header .menu a {
  font-weight: 600;
  font-size: 1.4rem;
  color: #000000;
  text-decoration: none;
  transition: 0.3s;
}
.header .menu a:hover {
  color: #df2020;
}
.header .active__menu {
  color: #df2020 !important;
}
.header .cart__icon i,
.header .user i,
.header .mobile__menu i {
  font-size: 1.8rem;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}
.header a {
  text-decoration: none;
}
.header .cart__icon {
  position: relative;
}
.header .cart__badge {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 20px;
  right: -10px;
  background: #df2020;
  color: #FFFFFF;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  font-size: 0.8rem;
  font-weight: 500;
}
.header .mobile__menu {
  font-weight: 600;
  display: none;
}
@media only screen and (max-width: 992px) {
  .header .navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.425);
    z-index: 1;
    display: none;
  }
  .header .menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background: #FFFFFF;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
    line-height: 20px;
  }
  .header .menu a {
    font-size: 1rem;
  }
  .header .mobile__menu {
    display: block;
  }
  .header .logo img {
    width: 50%;
  }
  .header .logo img h5 {
    font-size: 0.8rem;
    margin-top: -15px;
  }
  .header .cart__icon i,
.header .user i,
.header .mobile__menu i {
    font-size: 1rem;
  }
  .header .show__menu {
    display: block;
  }
}
@media only screen and (max-width: 768px) {
  .header .header {
    width: 100%;
    height: 80px;
    line-height: 80px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #FFFFFF;
  font-family: "Istok Web", sans-serif;
}

section {
  padding: 60px 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "RocknRoll One", sans-serif;
}

a {
  text-decoration: none;
  color: unset;
}

@media only screen and (max-width: 401px) {
  html {
    width: 103%;
  }
}
.scooter__title {
  font-size: 2.5rem;
  line-height: 55px;
  width: 425px;
}
.scooter__title span {
  color: #df2020;
}

.scooter__content {
  padding-top: 70px;
}
.scooter__content p {
  font-size: 1rem;
  line-height: 30px;
  color: #777;
}

.scooter__btns button {
  border: none;
  outline: none;
  padding: 7px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
}

.order__btn {
  background: #df2020;
  color: #FFFFFF;
  transition: 0.3s;
}
.order__btn:hover {
  background-color: #333;
}

.all__foods-btn {
  background: transparent;
  border: 1px solid #df2020 !important;
}
.all__foods-btn a {
  text-decoration: none;
  color: #df2020;
}
.all__foods-btn a:hover {
  color: #df2020;
}

.scooter__service p {
  color: #333;
  font-weight: 600;
  font-size: 1rem;
}

.shipping__icon i, .check__icon i {
  padding: 5px;
  background: #df2020;
  color: #FFFFFF;
  border-radius: 50%;
  font-weight: 500;
}

.main__picture {
  width: 100%;
}

@media only screen and (max-width: 753px) {
  .scooter__content {
    text-align: center;
  }
  h1, h5, span {
    text-align: center;
  }
  .scooter__title {
    width: 400px;
  }
}
@media only screen and (max-width: 981px) {
  .main__picture {
    padding-left: 90px;
  }
  .scooter__title {
    width: 400px;
  }
}
@media only screen and (max-width: 767px) {
  .main__picture {
    padding-left: 0;
  }
  .scooter__title {
    width: 400px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #FFFFFF;
  font-family: "Istok Web", sans-serif;
}

section {
  padding: 60px 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "RocknRoll One", sans-serif;
}

a {
  text-decoration: none;
  color: unset;
}

@media only screen and (max-width: 401px) {
  html {
    width: 103%;
  }
}
.category__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.category__column .category__image {
  width: 64px;
  height: 64px;
}

.category__item {
  background: #fde4e4;
  padding: 30px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s;
}
.category__item:hover {
  transform: translateY(-15px);
}

@media only screen and (max-width: 768px) {
  .category__image img {
    width: 40px;
    height: 40px;
    padding-bottom: 5px;
  }
  .category__column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .category__item h6 {
    font-size: 0.8rem;
    overflow: hidden;
    white-space: nowrap;
  }
}
@media only screen and (max-width: 989px) {
  .category__item h6 {
    font-size: 0.8rem;
    overflow: hidden;
    white-space: nowrap;
  }
  .category__item {
    margin-bottom: 10px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #FFFFFF;
  font-family: "Istok Web", sans-serif;
}

section {
  padding: 60px 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "RocknRoll One", sans-serif;
}

a {
  text-decoration: none;
  color: unset;
}

@media only screen and (max-width: 401px) {
  html {
    width: 103%;
  }
}
.feature__subtitle {
  color: #df2020;
}

.feature__title span {
  color: #df2020;
}

p {
  color: #777;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #FFFFFF;
  font-family: "Istok Web", sans-serif;
}

section {
  padding: 60px 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "RocknRoll One", sans-serif;
}

a {
  text-decoration: none;
  color: unset;
}

@media only screen and (max-width: 401px) {
  html {
    width: 103%;
  }
}
.food__category {
  background: #c15050;
  text-align: center;
  margin-top: 30px;
  padding: 20px 0px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.food__category button {
  border: none;
  outline: none;
  padding: 7px 20px;
  background: transparent;
  color: #FFFFFF;
}
.food__category button img {
  width: 30px;
  height: 30px;
}

.foodBtnActive {
  background: #fde4e4 !important;
  border-radius: 5px;
  color: #000000 !important;
}

.product__item {
  border: 1px solid #fde4e4;
  text-align: center;
  padding: 30px;
  cursor: pointer;
}

.product__img {
  margin-bottom: 20px;
  transition: 0.4s;
}
.product__img:hover {
  transform: scale(1.5);
}

.product__content h5 a {
  color: #212245;
  margin-bottom: 20px;
  text-decoration: none;
}

.product__content h5 {
  margin-bottom: 20px;
}

.product__price {
  font-weight: 600;
  font-size: 1.3rem;
  color: #212245;
}

.addToCart__btn {
  border: none;
  padding: 7px 25px;
  background: #c15050;
  color: #FFFFFF;
  border-radius: 5px;
}

@media only screen and (max-width: 992px) {
  .product__content h5 a {
    font-size: 0.8rem;
    word-break: break-all;
  }
  .product__item {
    padding: 20px;
  }
  .addTOCart__btn {
    padding: 5px 15px;
    font-size: 0.7rem;
  }
}
@media only screen and (max-width: 1199px) {
  .product__content h5 a {
    font-size: 0.8rem;
    word-break: break-all;
  }
}
@media only screen and (max-width: 769px) {
  .food__category {
    flex-direction: column;
    width: 150px;
    height: 500px;
    padding: 20px;
    text-align: center;
  }
  .food__category button {
    margin: 20px;
  }
  .product__price {
    padding-right: 5px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #FFFFFF;
  font-family: "Istok Web", sans-serif;
}

section {
  padding: 60px 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "RocknRoll One", sans-serif;
}

a {
  text-decoration: none;
  color: unset;
}

@media only screen and (max-width: 401px) {
  html {
    width: 103%;
  }
}
.food__delivery-title span {
  color: #df2020;
}

.food__delivery-desc {
  color: #777;
  line-height: 28px;
}

.choose__us-title {
  font-weight: 600;
  margin-bottom: 10px;
}
.choose__us-title i {
  font-weight: 500 !important;
  color: #df2020;
}

.choose__us-desc {
  color: #777;
}

@media only screen and (max-width: 768px) {
  .product__item {
    padding-bottom: 20px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #FFFFFF;
  font-family: "Istok Web", sans-serif;
}

section {
  padding: 60px 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "RocknRoll One", sans-serif;
}

a {
  text-decoration: none;
  color: unset;
}

@media only screen and (max-width: 401px) {
  html {
    width: 103%;
  }
}
.review__text {
  color: #777;
  line-height: 30px;
  margin: 40px 0px;
}

.slider__content img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (max-width: 768px) {
  .review__text {
    font-size: 0.8rem;
    margin: 20px 0px;
  }
  .slider__content img {
    width: 35px;
    height: 35px;
  }
  .slider__content h6 {
    font-size: 0.8rem;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #FFFFFF;
  font-family: "Istok Web", sans-serif;
}

section {
  padding: 60px 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "RocknRoll One", sans-serif;
}

a {
  text-decoration: none;
  color: unset;
}

@media only screen and (max-width: 401px) {
  html {
    width: 103%;
  }
}
.footer {
  padding-top: 50px;
  padding-bottom: 30px;
  background: #fde4e4;
}

.footer__logo img {
  width: 20%;
  margin-bottom: 5px;
}

.footer__logo h5 {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 15px;
}

.footer__logo p {
  font-size: 0.9rem;
  color: #333;
  line-height: 28px;
}

.delivery__time-item {
  background: transparent !important;
  line-height: 30px;
}
.delivery__time-item span {
  font-weight: 600;
  font-size: 1rem;
  color: #212245;
}
.delivery__time-item p {
  color: #212245;
}

.footer__title {
  font-size: 1.1rem;
  color: #212245;
  font-weight: 600;
}

.newsletter {
  padding: 5px;
  border: 1px solid #212245;
  border-radius: 5px;
  display: flex;
  cursor: pointer;
}
.newsletter input {
  background: transparent;
  border: none;
  outline: none;
  width: 80%;
}
.newsletter input:focus {
  outline: none;
}
.newsletter span {
  background: #df2020;
  padding: 5px 30px;
  border-radius: 5px;
}
.newsletter span i {
  color: #FFFFFF;
  text-decoration: none;
}
.newsletter input::-moz-placeholder {
  color: #212245;
}
.newsletter input:-ms-input-placeholder {
  color: #212245;
}
.newsletter input::placeholder {
  color: #212245;
}
.newsletter a {
  text-decoration: none;
}

.social__links span i {
  padding: 5px;
  background: #df2020;
  color: #FFFFFF;
  border-radius: 50%;
  text-decoration: none;
}

.copyright__text {
  font-size: 0.8rem;
  color: #df2020;
}

.newsletter__input {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 992px) {
  .newsletter input {
    padding: 7px;
    font-size: 0.7rem;
  }
  .newsletter span {
    padding: 4px 20px;
    font-size: 0.7rem;
  }
}
@media only screen and (max-width: 768px) {
  .footer__title {
    font-size: 0.8rem;
  }
  .delivery__time-item span {
    font-size: 0.8rem;
  }
  .delivery__time-item p {
    font-size: 0.7rem;
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 576px) {
  .copyright__text {
    text-align: center;
  }
  .social__links p {
    font-size: 0.8rem;
  }
  .social__links span {
    padding: 4px;
  }
  .social__links span a {
    font-size: 0.7rem;
  }
  .footer {
    text-align: center;
  }
  p {
    text-align: center;
  }
  .newsletter span {
    padding: 4px 30px;
    font-size: 0.7rem;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #FFFFFF;
  font-family: "Istok Web", sans-serif;
}

section {
  padding: 60px 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "RocknRoll One", sans-serif;
}

a {
  text-decoration: none;
  color: unset;
}

@media only screen and (max-width: 401px) {
  html {
    width: 103%;
  }
}
.cart__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.639);
  z-index: 99999;
}

.cart {
  position: absolute;
  top: 0;
  right: 0;
  width: 400px;
  height: 100%;
  background: #FFFFFF;
  z-index: 999999;
}

.cart__close {
  width: 100%;
  height: 60px;
  padding: 10px 20px;
}
.cart__close span i {
  font-size: 1.1rem;
  background: #212245;
  padding: 5px;
  border-radius: 50%;
  color: #FFFFFF;
  cursor: pointer;
}

.cart__item-list {
  height: calc(100vh - 140px);
  overflow-y: scroll;
}

.cart__bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5px 20px;
  width: 100%;
  height: 80px;
  background: #df2020;
}
.cart__bottom h6 {
  font-size: 1rem;
  color: #FFFFFF;
}
.cart__bottom h6 span {
  font-size: 1.3rem;
  font-weight: 600;
}
.cart__bottom button {
  border: none;
  padding: 4px 20px;
  border-radius: 5px;
  background: #FFFFFF;
  color: #212245;
}
.cart__bottom button a {
  color: #212245;
  font-weight: 600;
  text-decoration: none;
}

@media only screen and (max-width: 576px) {
  .cart {
    width: 300px !important;
  }
}
.cart__item-info img {
  width: 35px;
  height: 35px;
  -o-object-fit: cover;
     object-fit: cover;
}

.cart__product-title {
  font-size: 0.8rem;
  font-weight: 600;
}

.cart__product-price {
  font-size: 0.8rem;
}

.cart__product-price span {
  font-size: 0.9rem;
  font-weight: 600;
  color: #df2020;
}

.increase__decrease-btn {
  background: #fde4e4;
  padding: 2px 5px;
  border-radius: 5px;
}

.increase__btn,
.decrease__btn {
  cursor: pointer;
}

.delete__btn {
  font-size: 1.1rem;
  font-weight: 600;
}

.cart__item {
  margin-bottom: 15px;
  border-bottom: 1px solid #fde4e4;
}

@media only screen and (max-width: 576px) {
  .delete__btn {
    font-size: 1rem;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #FFFFFF;
  font-family: "Istok Web", sans-serif;
}

section {
  padding: 60px 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "RocknRoll One", sans-serif;
}

a {
  text-decoration: none;
  color: unset;
}

@media only screen and (max-width: 401px) {
  html {
    width: 103%;
  }
}
.food__section {
  background-image: linear-gradient(rgba(33, 34, 69, 0.6980392157), rgba(33, 34, 69, 0.6980392157)), url("../assets/images/icons/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 80px 0px;
}

.search__widget {
  padding: 7px 15px;
  border: 1px solid #fde4e4;
  border-radius: 5px;
  cursor: pointer;
}
.search__widget input {
  border: none;
  width: 90%;
}

.sorting__widget select {
  padding: 7px 15px;
  border: 1px solid #fde4e4;
  border-radius: 5px;
  cursor: pointer;
}

.sorting__widget input {
  border: none;
}

.sorting__widget input:focus {
  outline: none;
}

@media only screen and (max-width: 768px) {
  .search__widget {
    width: 100%;
    margin-bottom: 20px;
  }
  .search__widget input {
    width: 100%;
    font-size: 0.8rem;
  }
  .sorting__widget select {
    width: 100% !important;
    font-size: 0.8rem;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #FFFFFF;
  font-family: "Istok Web", sans-serif;
}

section {
  padding: 60px 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "RocknRoll One", sans-serif;
}

a {
  text-decoration: none;
  color: unset;
}

@media only screen and (max-width: 401px) {
  html {
    width: 103%;
  }
}
.paginationBttns {
  width: 80%;
  height: 40px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  list-style: none;
  margin-top: 30px;
  transition: 0.3s;
}
.paginationBttns a {
  padding: 5px 13px;
  background: #df2020;
  color: #FFFFFF !important;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 5px;
  text-decoration: none;
}
.paginationBttns a:hover {
  background: #212245;
  transform: scale(1.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #FFFFFF;
  font-family: "Istok Web", sans-serif;
}

section {
  padding: 60px 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "RocknRoll One", sans-serif;
}

a {
  text-decoration: none;
  color: unset;
}

@media only screen and (max-width: 401px) {
  html {
    width: 103%;
  }
}
.single__product-content {
  padding-left: 50px;
}

.product__price {
  display: flex;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  margin-bottom: 0;
  color: #df2020;
}

.product__price span {
  font-size: 2rem;
}

.category {
  font-weight: 600;
  color: #212245;
  display: flex;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  margin-top: 10px;
}

.category span {
  padding: 5px 10px;
  background: #fde4e4;
  color: #212245;
  border-radius: 5px;
}

.addTOCart__btn {
  border: none;
  padding: 7px 25px;
  background: #c15050;
  color: #FFFFFF;
  border-radius: 5px;
}

.tabs {
  border-bottom: 1px solid #fde4e4;
}

.tabs h6 {
  cursor: pointer;
}

.tab__content {
  padding: 30px 0px;
}

.tab__content p {
  line-height: 30px;
  color: #212245;
}

.tab__active {
  color: #df2020;
}

.form {
  width: 60%;
  margin: auto;
  background: #fde4e4;
  padding: 20px;
  border-radius: 5px;
}

.form__group {
  margin-bottom: 30px;
}

.form__group input,
.form__group textarea {
  width: 100%;
  background: transparent;
  padding: 7px 20px;
  border: none;
  border-bottom: 1px solid #212245;
}

.form__group input:focus,
.form__group textarea:focus {
  outline: none;
}

.user__name {
  font-weight: 600;
  color: #212245;
}

.user__email {
  font-size: 0.8rem;
}

.feedback__text {
  color: #212245;
}

.img__item {
  cursor: pointer;
}

.related__Product-title {
  font-size: 1.4rem;
}

@media only screen and (max-width: 768px) {
  .product__title {
    font-size: 1.2rem;
  }
  .product__price,
.product__price span {
    font-size: 1rem;
  }
  .category,
.category span {
    font-size: 0.8rem !important;
  }
  .tabs {
    margin-top: 30px;
  }
  .tabs h6 {
    font-size: 0.9rem;
  }
  .tab__content p,
.user__name,
.feedback__text {
    font-size: 0.8rem;
  }
  .user__email {
    font-size: 0.7rem;
  }
  .form {
    width: 100% !important;
    margin-top: 50px;
  }
  .form__group input::-moz-placeholder, .form__group textarea::-moz-placeholder {
    font-size: 0.8rem;
  }
  .form__group input:-ms-input-placeholder, .form__group textarea:-ms-input-placeholder {
    font-size: 0.8rem;
  }
  .form__group input::placeholder,
.form__group textarea::placeholder {
    font-size: 0.8rem;
  }
  .related__Product-title {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 576px) {
  .product__images {
    display: flex;
    flex-direction: row;
  }
  .product__main-img {
    margin-bottom: 20px;
  }
}/*# sourceMappingURL=main.css.map */