@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Istok+Web&display=swap");
@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Istok+Web&display=swap");
@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Istok+Web&display=swap");
@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Istok+Web&display=swap");
@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Istok+Web&display=swap");
@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Istok+Web&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

:focus {
  outline: 0;
}

body {
  line-height: 1;
  color: black;
  background: white;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

blockquote,
q {
  quotes: "" "";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #FFFFFF;
  font-family: "Istok Web", sans-serif;
}

section {
  padding: 60px 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "RocknRoll One", sans-serif;
}

a {
  text-decoration: none;
  color: unset;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #FFFFFF;
  font-family: "Istok Web", sans-serif;
}

section {
  padding: 60px 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "RocknRoll One", sans-serif;
}

a {
  text-decoration: none;
  color: unset;
}

.header {
  width: 100%;
  height: 100px;
  line-height: 80px;
}
.header .logo {
  margin-top: 10px;
  text-align: center;
}
.header .logo img {
  margin-bottom: 5px;
  width: 70%;
  -o-object-fit: contain;
     object-fit: contain;
}
.header .logo h4 {
  font-weight: 600;
  font-size: 1rem;
  color: #000000;
  margin-bottom: 0;
}
.header .menu a {
  font-weight: 600;
  font-size: 1.4rem;
  color: #000000;
  text-decoration: none;
  transition: 0.3s;
}
.header .menu a:hover {
  color: #df2020;
}
.header .active__menu {
  color: #df2020 !important;
}
.header .cart__icon i,
.header .user i,
.header .mobile__menu i {
  font-size: 1.8rem;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}
.header a {
  text-decoration: none;
}
.header .cart__icon {
  position: relative;
}
.header .cart__badge {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 20px;
  right: -10px;
  background: #df2020;
  color: #FFFFFF;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  font-size: 0.8rem;
  font-weight: 500;
}
.header .mobile__menu {
  font-weight: 600;
  display: none;
}
.header .header__shrink {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  box-shadow: 5px 5px 15px -5px #FFFFFF;
}
@media only screen and (max-width: 992px) {
  .header .navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.425);
    z-index: 1;
    display: none;
  }
  .header .menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background: #FFFFFF;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
    line-height: 20px;
  }
  .header .menu a {
    font-size: 1rem;
  }
  .header .mobile__menu {
    display: block;
  }
  .header .logo img {
    width: 50%;
  }
  .header .logo img h5 {
    font-size: 0.8rem;
    margin-top: -15px;
  }
  .header .cart__icon i,
.header .user i,
.header .mobile__menu i {
    font-size: 1rem;
  }
  .header .show__menu {
    display: block;
  }
}
@media only screen and (max-width: 768px) {
  .header .header {
    width: 100%;
    height: 80px;
    line-height: 80px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #FFFFFF;
  font-family: "Istok Web", sans-serif;
}

section {
  padding: 60px 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "RocknRoll One", sans-serif;
}

a {
  text-decoration: none;
  color: unset;
}

.scooter__title {
  font-size: 2.5rem;
  line-height: 55px;
  width: 425px;
}
.scooter__title span {
  color: #df2020;
}

.scooter__content {
  padding-top: 70px;
}
.scooter__content p {
  font-size: 1rem;
  line-height: 30px;
  color: #777;
}

.scooter__btns button {
  border: none;
  outline: none;
  padding: 7px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
}

.order__btn {
  background: #df2020;
  color: #FFFFFF;
  transition: 0.3s;
}
.order__btn:hover {
  background-color: #333;
}

.all__foods-btn {
  background: transparent;
  border: 1px solid #df2020 !important;
}
.all__foods-btn a {
  text-decoration: none;
  color: #df2020;
}
.all__foods-btn a:hover {
  color: #df2020;
}

.scooter__service p {
  color: #333;
  font-weight: 600;
  font-size: 1rem;
}

.shipping__icon i, .check__icon i {
  padding: 5px;
  background: #df2020;
  color: #FFFFFF;
  border-radius: 50%;
  font-weight: 500;
}

.main__picture {
  width: 100%;
}

@media only screen and (max-width: 753px) {
  .scooter__content {
    text-align: center;
  }
  h1, h5, span {
    text-align: center;
  }
}
@media only screen and (max-width: 981px) {
  .main__picture {
    padding-left: 90px;
  }
}
@media only screen and (max-width: 767px) {
  .main__picture {
    padding-left: 0;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #FFFFFF;
  font-family: "Istok Web", sans-serif;
}

section {
  padding: 60px 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "RocknRoll One", sans-serif;
}

a {
  text-decoration: none;
  color: unset;
}

.category__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.category__column .category__image {
  width: 64px;
  height: 64px;
}

.category__item {
  background: #fde4e4;
  padding: 30px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s;
}
.category__item:hover {
  transform: translateY(-15px);
}

@media only screen and (max-width: 768px) {
  .category__image img {
    width: 40px;
    height: 40px;
    padding-bottom: 5px;
  }
  .category__column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .category__item h6 {
    font-size: 0.8rem;
    overflow: hidden;
    white-space: nowrap;
  }
}
@media only screen and (max-width: 989px) {
  .category__item h6 {
    font-size: 0.8rem;
    overflow: hidden;
    white-space: nowrap;
  }
  .category__item {
    margin-bottom: 10px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #FFFFFF;
  font-family: "Istok Web", sans-serif;
}

section {
  padding: 60px 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "RocknRoll One", sans-serif;
}

a {
  text-decoration: none;
  color: unset;
}

.feature__subtitle {
  color: #df2020;
}

.feature__title span {
  color: #df2020;
}

p {
  color: #777;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #FFFFFF;
  font-family: "Istok Web", sans-serif;
}

section {
  padding: 60px 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "RocknRoll One", sans-serif;
}

a {
  text-decoration: none;
  color: unset;
}

.food__category {
  background: #c15050;
  text-align: center;
  margin-top: 30px;
  padding: 20px 0px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.food__category button {
  border: none;
  outline: none;
  padding: 7px 20px;
  background: transparent;
  color: #FFFFFF;
}
.food__category button img {
  width: 30px;
  height: 30px;
}

.foodBtnActive {
  background: #fde4e4 !important;
  border-radius: 5px;
  color: #000000 !important;
}

.product__item {
  border: 1px solid #fde4e4;
  text-align: center;
  padding: 30px;
  cursor: pointer;
}

.product__img {
  margin-bottom: 20px;
  transition: 0.4s;
}
.product__img:hover {
  transform: scale(1.5);
}

.product__content h5 a {
  color: #212245;
  margin-bottom: 20px;
  text-decoration: none;
}

.product__content h5 {
  margin-bottom: 20px;
}

.product__price {
  font-weight: 600;
  font-size: 1.3rem;
  color: #212245;
}

.addToCart__btn {
  border: none;
  padding: 7px 25px;
  background: #c15050;
  color: #FFFFFF;
  border-radius: 5px;
}

@media only screen and (max-width: 992px) {
  .product__content h5 a {
    font-size: 0.8rem;
    word-break: break-all;
  }
  .product__item {
    padding: 20px;
  }
  .addTOCart__btn {
    padding: 5px 15px;
    font-size: 0.7rem;
  }
}
@media only screen and (max-width: 1199px) {
  .product__content h5 a {
    font-size: 0.8rem;
    word-break: break-all;
  }
}
@media only screen and (max-width: 769px) {
  .food__category {
    flex-direction: column;
    width: 150px;
    height: 500px;
    padding: 20px;
    text-align: center;
  }
  .food__category button {
    margin: 20px;
  }
}
.food__delivery-title span {
  color: #df2020;
}

.food__delivery-desc {
  color: #777;
  line-height: 28px;
}

.choose__us-title {
  font-weight: 600;
  margin-bottom: 10px;
}
.choose__us-title i {
  font-weight: 500 !important;
  color: #df2020;
}

.choose__us-desc {
  color: #777;
}/*# sourceMappingURL=main.css.map */